<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia</title>
    <style>
        div{
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: rgb(238, 207, 212);
        }
        p{
            color: rgb(0, 0, 0);
            font-size: 30px;
            width: 400px;
        }
        span{
            color: rgb(0, 0, 0);
        }
    </style>
</head>
<body>
    <div>
        <p>Familiares:</p>
        <p>{{familiar_1}}</p>
        <p>{{familiar_2}}</p>
        <p>{{familiar_3}}</p>
    </div>    
</body>
</html>
